<div class="max-w-screen-xl px-2.5 sm:px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
  <!-- Row -->
  <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
    <div class="text-gray-500 sm:text-lg dark:text-gray-400">
      <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Work with
        tools you already use</h2>
      <p class="mb-8 font-light lg:text-xl">Deliver great service experiences fast - without the
        complexity of traditional ITSM solutions. Accelerate critical development work, eliminate toil,
        and deploy changes with ease.</p>
      <!-- List -->
      <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
        <li class="flex space-x-3">
          <!-- Icon -->
          <svg class="flex-shrink-0 w-5 h-5 text-blue-500 dark:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Continuous
            integration and deployment</span>
        </li>
        <li class="flex space-x-3">
          <!-- Icon -->
          <svg class="flex-shrink-0 w-5 h-5 text-blue-500 dark:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Development
            workflow</span>
        </li>
        <li class="flex space-x-3">
          <!-- Icon -->
          <svg class="flex-shrink-0 w-5 h-5 text-blue-500 dark:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Knowledge
            management</span>
        </li>
      </ul>
      <p class="mb-8 font-light lg:text-xl">Deliver great service experiences fast - without the
        complexity of traditional ITSM solutions.</p>
    </div>
    <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="images/feature-1.png"
      alt="dashboard feature image">
  </div>
  <!-- Row -->
  <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
    <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="images/feature-2.png" alt="feature image 2">
    <div class="text-gray-500 sm:text-lg dark:text-gray-400">
      <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">We invest in
        the world’s potential</h2>
      <p class="mb-8 font-light lg:text-xl">Deliver great service experiences fast - without the
        complexity of traditional ITSM solutions. Accelerate critical development work, eliminate toil,
        and deploy changes with ease.</p>
      <!-- List -->
      <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
        <li class="flex space-x-3">
          <!-- Icon -->
          <svg class="flex-shrink-0 w-5 h-5 text-blue-500 dark:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Dynamic
            reports and dashboards</span>
        </li>
        <li class="flex space-x-3">
          <!-- Icon -->
          <svg class="flex-shrink-0 w-5 h-5 text-blue-500 dark:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Templates
            for everyone</span>
        </li>
        <li class="flex space-x-3">
          <!-- Icon -->
          <svg class="flex-shrink-0 w-5 h-5 text-blue-500 dark:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Development
            workflow</span>
        </li>
        <li class="flex space-x-3">
          <!-- Icon -->
          <svg class="flex-shrink-0 w-5 h-5 text-blue-500 dark:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Limitless
            business automation</span>
        </li>
        <li class="flex space-x-3">
          <!-- Icon -->
          <svg class="flex-shrink-0 w-5 h-5 text-blue-500 dark:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Knowledge
            management</span>
        </li>
      </ul>
      <p class="font-light lg:text-xl">Deliver great service experiences fast - without the complexity of
        traditional ITSM solutions.</p>
    </div>
  </div>
</div>
